$primary-color: #f4e041;
$secondary-color: #00bdd3;
$hover-color-btn: #ffe302;
$disabled-color-btn: #b4b4b4;
$bg-color: #f8f8f8;
$error-color: #cb3d40;
$grey-color: #7e7e7e;
$border_color: #d0cfcf;
$white-color: #fff;
