@import "../../assets/styles";

.banner {
  width: 100%;
  min-width: 360px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: $white-color;
  text-align: center;
  justify-content: flex-start;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/pexels-alexandr-podvalny-1227513.jpeg") no-repeat;
  background-position: right 48.8% top 99%;
  background-size: 341.5% 164%;
  -webkit-background-size: 341.5% 164%;
  -moz-background-size: 341.5% 164%;
  -o-background-size: 341.5% 164%;

  &--title {
    width: 328px;
    margin: 40px 0 0;

    @include for-tablet {
      width: 380px;
      margin: 89px 0 0;
    }

    @include for-desktop {
      width: 380px;
      margin: 165px 0 0;
    }

    @include for-desktop-ultra {
      width: 380px;
      margin: 165px 0 0;
    }
  }

  &--text {
    width: 328px;
    margin: 21px 0 32px;

    @include for-tablet {
      width: 380px;
    }

    @include for-desktop {
      width: 380px;
    }

    @include for-desktop-ultra {
      width: 380px;
    }
  }

  @include for-mobile {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/public/assets/images/pexels-alexandr-podvalny-1227513-mobile.jpeg")
        no-repeat;
  }

  @include for-tablet {
    height: 500px;
  }

  @include for-desktop {
    height: 650px;
  }

  @include for-desktop-ultra {
    height: 650px;
    background-position: right 50% top 81%;
    background-size: 220% 260%;
    -webkit-background-size: 220% 260%;
    -moz-background-size: 220% 260%;
    -o-background-size: 220% 260%;
  }
}
